:root {
    --primary-font: 'Josefin Sans', sans-serif;
    --secondary-light: #FFF7EE;
    --secondary: #F5EADD;
    --secondary-dark: #EDDFCF;
    --tertiary: #CEBAA1;
    --primary: #D10000;
    --primary-dark: #970000;
    --primary-light: #DD6363;


}

body{
    background-color: var(--secondary-light);
}

header {
    background-color: #FFF;
}


.searchbox {
    background-color: var(--secondary);
}

.searchinput {
    background-color: var(--secondary);
}

.searchinput:focus-visible {
    outline: solid 2px var(--tertiary);
}


.mainmenu {
    background-color: #FFF;
}

.mainmenu > ul{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 20pt;
    color: var(--primary)
}

.mainmenu > ul > li:hover {
    background-color: var(--secondary);
    color: var(--primary-dark);
}


h1 {
     font-family: 'Josefin Sans';
     color: var(--primary-dark);
 }

h4 {
    font-family: 'Josefin Sans';
    color: var(--primary-dark);
}

p {
    font-family: var(--primary-font);
    font-size: 16;
    font-weight: 400;
    color: var(--primary-light);
}


.cardbooktitle{
    font-family: 'Josefin Sans';
    font-size: 16pt;
    font-weight: 600;
    color: var(--primary-dark);

}

.cardauthor {
    font-family: 'Josefin Sans';
    font-size: 14pt;
    font-weight: 400;
    color: var(--primary-light);
}

.cardprice {
    font-family: 'Josefin Sans';
    font-size: 16pt;
    font-weight: 400;
    color: var(--primary-dark);
}

.productcard:hover {
    background: var(--secondary-light);
    box-shadow: 0px 0px 5px rgba(55, 76, 10, 0.4);
    border-radius: 24px;
}

.productcard.expand {
    background-color: var(--secondary);
    border-radius: 24px;
    box-shadow: 0px 0px 5px rgba(55, 76, 10, 0.4);
}

.productcard.expand > .productcard:hover {
    box-shadow: none;
}

.cart-button {
    font-family: 'Josefin Sans';
    font-size: 14pt;
    font-weight: 400;
    color: #FFF;
    background-color: var(--primary);
    border-radius: 12px;
    outline: none;
    border: none;
    text-decoration: none;
}

.cart-button:hover {
    background-color: var(--primary-dark);
}





/* Cart page items */

.selected-page{
    background-color: #CEBAA1;
    color: var(--primary-dark);
}

.cartcard {
    background-color: var(--secondary);
    box-shadow: 0px 0px 5px rgba(55, 76, 10, 0.4);
    border-radius: 24px;
}

.cart-cardbooktitle{
    font-family: 'Josefin Sans';
    font-size: 16pt;
    font-weight: 600;
    color: var(--primary-dark);

}

.cart-cardauthor {
    font-family: 'Josefin Sans';
    font-size: 14pt;
    font-weight: 400;
    color: var(--primary-light);
}

.cart-cardprice {
    font-family: 'Josefin Sans';
    font-size: 16pt;
    font-weight: 400;
    color: var(--primary-dark);
}

.qty-amount{
    background-color: var(--secondary-light);
    border-radius: 8px;
}



.cart-totals {
    background-color: var(--tertiary);
    box-shadow: inset 0px 0px 5px #846D50;
    border-radius: 24px;
}

table{
    color: var(--primary-dark);
    font-family: var(--primary-font);
}

.checkout-btn {
    font-family: 'Josefin Sans';
    font-size: 14pt;
    font-weight: 400;
    color: #FFF;
    background-color: var(--primary);
    border-radius: 12px;
    outline: none;
    border: none;
    text-decoration: none;
}

.back-btn {
    font-family: 'Josefin Sans';
    font-size: 14pt;
    font-weight: 400;
    color: var(--primary);
    background-color: var(--secondary-dark);
    border-radius: 12px;
    outline: none;
    border: none;
    text-decoration: none;
}

tr {
    font-size: 20pt;
    font-weight: 300;
}

.totals {
    font-weight: 600;
}