
/* items for all pages */
body{
    margin: 0px;
    display: flex;
    column-gap: 24px;
}

header {
    height: 100vh;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.searchbox {
    width: 15rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
}

.searchinput {
    border-width: 0px;
    width: 180px;
    height: 44px;
}


.searchicon {
    width: 2rem;
    height: 2rem;
    align-self: center;
    padding-left: 5%;
}

.mainmenu {
    width: 16rem;
    height: 100%;
}

.mainmenu > ul{
    list-style-type: none;
    padding-inline-start: 0;
}

.mainmenu > ul > li {
    text-align: right;
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
    padding-right: 10%;
    width: 90%;
}
.breadcrumb{
    display: flex;
    width: 100%;
}

/* item for main product page */

.productgrid {
    padding-top: 9rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

.productcard {
    width: 12rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 1rem;
    transition: all 2000ms linear;
}


.productimg {
    width: 70%;
    height: 57%;
    border-radius: 12px;
    margin-top: 10%;
}


.cardbooktitle{
    text-align: center;
    margin-top: 7%;
    margin-bottom: 3%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.cardauthor {
    margin-top: 0%;
    margin-bottom: 3%;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.cardprice {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    align-content: center;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    left: 35%;
}

.cart-button {
    opacity: 0%;
    scale: 0%;
}

.product-discription {
    opacity: 0%;
}

.product-close-icon {
    opacity: 0%;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.productcard:hover {
    border-radius: 24px;
}

.productcard.expand {
    width: 45rem;
    height: 20rem;
    flex-direction: row;
    transition: all 2000ms linear;
}

.productcard.expand > .productimg {
    width: 30%;
    height: 88%;
    border-radius: 12px;
    margin-top: 1.2rem;
    margin-left: 1.6rem;
    align-self: flex-start;
    align-content: center;
}

.productcard.expand > .card-text {
    align-self: flex-start;
    padding-top: 1rem;
    
}

.productcard.expand > .card-text > .cardbooktitle {
    text-align: left;
    margin-top: 7%;
    margin-bottom: 3%;
    align-self: start;
    padding-left: 1rem;
}

.productcard.expand > .card-text > .cardauthor {
    margin-top: 0%;
    margin-bottom: 3%;
    text-align: left;
    padding-left: 1rem;
}

.productcard.expand > .card-text > .cardprice {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: left;
    padding-top: 2rem;
    position: absolute;
    bottom: 10rem;
    left: 16rem;
}

.productcard.expand > .card-text > .cart-button {
    opacity: 100%;
    scale: 100%;
    padding: 0.5rem;
    position: absolute;
    bottom: 8rem;
    left: 16rem;
}

.productcard.expand > .card-text > .product-discription {
    opacity: 100%;
    position: absolute;
    bottom: 3rem;
    left: 16rem;
    padding-right: 2rem;
}

.productcard.expand > .product-close-icon {
    opacity: 100%;
}





/* items for cart page */

.cart {
    padding-top: 9rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
}

.cartcard {
    width: 42rem;
    height: 17rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-right: 1rem;
}

.cart-info {
    width: 57%;
    align-self: start;
}

.cartproductimg {
    width: 22%;
    height: 88%;
    border-radius: 12px;
    margin-left: 1rem;
    margin-right: 3rem;
}

.cart-cardbooktitle{
    text-align: left;
    margin-top: 7%;
    margin-bottom: 3%;

}

.cart-cardauthor {
    margin-top: 0%;
    margin-bottom: 3%;
    text-align: left;

}

.cart-cardprice {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: left;
    bottom: 0;
    left: 35%;
    padding-top: 2rem;
}

.qty-amount {
    padding: 0.5rem;
    width: 5%;
    text-align: center;
}

.close-icon {
    width: 2rem;
    height: 2rem;
    padding-left: 3%;
    padding-top: 3%;
    align-self: flex-start;
}

.cart-totals {
    position: absolute;
    top: 14rem;
    right: 4rem;
}

td{
    padding: 1rem;
}

.checkout-btn {
    padding-top: 0.7rem;
    padding-left: 2.6rem;
    padding-bottom: 0.7rem;
    padding-right: 2.6rem;
    position: absolute;
    right: 4rem;
    bottom: 23rem;
}
.back-btn{
    padding-top: 0.7rem;
    padding-left: 1rem;
    padding-bottom: 0.7rem;
    padding-right: 1rem;
    position: absolute;
    right: 15rem;
    bottom: 23rem;
}