
/* items for all pages */
body{
    margin: 0px;
    display: flex;
    column-gap: 24px;
}

header {
    height: 100vh;
    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburger {
    display: none;
    height: 2rem;
    width: 2rem;
    min-width: 2rem;
}

.logo {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.searchbox {
    width: 15rem;
    height: 4rem;
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
}


.searchicon {
    width: 2rem;
    height: 2rem;
    align-self: center;
    position: absolute;
    left: 12rem;
}

.mainmenu {
    width: 16rem;
    height: 100%;
}

.mainmenu > ul{
    list-style-type: none;
    padding-inline-start: 0;
}

.mainmenu > ul > li {
    text-align: right;
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
    padding-right: 10%;
    width: 90%;
}
.breadcrumb{
    display: flex;
    width: 100%;
}

/* item for main product page */

.productgrid {
    padding-top: 9rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

.productcard {
    width: 12rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 1rem;
    transition: all 500ms linear;
    order: 2;
    border-radius: 24px;
}


.productimg {
    width: 70%;
    height: 57%;
    border-radius: 12px;
    margin-top: 10%;
}


.cardbooktitle{
    text-align: center;
    margin-top: 7%;
    margin-bottom: 3%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.cardauthor {
    margin-top: 0%;
    margin-bottom: 3%;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.cardprice {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    align-content: center;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    left: 35%;
}

.cart-button {
    opacity: 0%;
    scale: 0%;
}

.product-discription {
    opacity: 0%;
    scale: 0%;
}

.close-product {
    opacity: 0%;
    scale: 0%;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.productcard:hover {
    border-radius: 24px;
}

#targetcard.expand {
    order: 1;
}

.productcard.expand {
    width: 96%;
    height: 30%;
    flex-direction: row;
    transition: all 500ms linear;
}

.productcard.expand > .productimg {
    width: 19%;
    height: 88%;
    border-radius: 12px;
    margin-top: 1.2rem;
    margin-left: 1.6rem;
    align-self: flex-start;
    align-content: center;
}

.productcard.expand > .card-text {
    align-self: flex-start;
    padding-top: 1rem;
    padding-left: 1.5rem;
    
}

.productcard.expand > .card-text > .cardbooktitle {
    text-align: left;
    margin-top: 7%;
    margin-bottom: 3%;
    align-self: start;
}

.productcard.expand > .card-text > .cardauthor {
    margin-top: 0%;
    margin-bottom: 3%;
    text-align: left;

}

.productcard.expand > .card-text > .cardprice {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: left;
    padding-top: 2rem;
    position: absolute;
    bottom: 10rem;
    left: 15.5rem;
}

.productcard.expand > .card-text > .cart-button {
    opacity: 100%;
    scale: 100%;
    padding: 0.5rem;
    position: absolute;
    bottom: 8rem;
    left: 15.5rem;
}

.productcard.expand > .card-text > .product-discription {
    opacity: 100%;
    scale: 100%;
    position: absolute;
    bottom: 3rem;
    left: 15.5rem;
    padding-right: 2rem;
}

.productcard.expand > .close-product {
    opacity: 100%;
    scale: 100%;
}

#cart-notification {
    visibility: hidden;
    height: 0;
    transition: height 1000ms ease-in-out;
}

#cart-notification > p {
    max-height: 100%;
    line-height: 100%;
}

#cart-notification.visible {
    visibility: visible;
    height: 40px;
    width: 90%;
}






/* items for cart page */

.cart {
    padding-top: 9rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
}

.cartcard {
    width: 42rem;
    height: 17rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-right: 1rem;
}

.cart-info {
    width: 57%;
    align-self: start;
}

.cartproductimg {
    width: 22%;
    height: 88%;
    border-radius: 12px;
    margin-left: 1rem;
    margin-right: 3rem;
}

.cart-cardbooktitle{
    text-align: left;
    margin-top: 7%;
    margin-bottom: 3%;

}

.cart-cardauthor {
    margin-top: 0%;
    margin-bottom: 3%;
    text-align: left;

}

.cart-cardprice {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: left;
    bottom: 0;
    left: 35%;
    padding-top: 2rem;
}

.qty-amount {
    padding: 0.5rem;
    width: 5%;
    text-align: center;
}

.close-icon {
    width: 1.5rem;
    height: 1.5rem;
    padding-left: 2rem;
    padding-top: 1rem;
    align-self: flex-start;
}

.cart-totals {
    position: absolute;
    bottom: 29rem;
    right: 4rem;
    width: 21rem;
}

td{
    padding: 1rem;
}

.checkout-btn {
    padding-top: 0.7rem;
    padding-left: 2.6rem;
    padding-bottom: 0.7rem;
    padding-right: 2.6rem;
    position: absolute;
    right: 4rem;
    bottom: 25.5rem;
}

.back-btn{
    padding-top: 0.7rem;
    padding-left: 1rem;
    padding-bottom: 0.7rem;
    padding-right: 1rem;
    position: absolute;
    right: 15rem;
    bottom: 25.5rem;
}


/* Checkout page items */

.delivery-details > input {
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}


label.state{
    padding-left: 9.2rem;

}

label.postcode{
    padding-left: 11.7rem;

}

.delivery-details {
    position: absolute;
    left: 18rem;
    top: 14rem;
}

.checkout-info {
    position: relative;
}

.progress-btn {
    padding-top: 0.7rem;
    padding-left: 2.6rem;
    padding-bottom: 0.7rem;
    padding-right: 2.6rem;
    position: absolute;
    right: 4.2rem;
    bottom: 25.5rem;
    cursor: pointer;
}

.checkout-form {
    padding-top: 9rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
}

#name {
    width: 90%;
}

#address1 {
    width: 90%;
}

#address2 {
    width: 90%;
}

.shipping-type > input {
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.shipping-type {
    padding-left: 0.5rem;
    padding-top: 0.4rem;
}


.payment-btn {
    padding-top: 0.7rem;
    padding-left: 2.6rem;
    padding-bottom: 0.7rem;
    padding-right: 2.6rem;
    position: absolute;
    right: 4.2rem;
    bottom: 25.5rem;
    cursor: pointer;
}

.back-btn2{
    padding-top: 0.7rem;
    padding-left: 3.7rem;
    padding-bottom: 0.7rem;
    padding-right: 3.7rem;
    position: absolute;
    right: 15rem;
    bottom: 25.5rem;
}

select {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 0.5rem;

}

option {
    padding-top: 2px;
}

.payment-form {
    position: absolute;
    left: 18rem;
    top: 14rem;
}

.payment-form > input {
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

#card-name {
    width: 90%;
}

label.ccv {
    padding-left: 12.5rem;
}

.back-btn3 {
    padding-top: 0.7rem;
    padding-left: 4.2rem;
    padding-bottom: 0.7rem;
    padding-right: 4.2rem;
    position: absolute;
    right: 4rem;
    bottom: 25.5rem;
    cursor: pointer;
}


.confirm-text {
    position: relative;
    bottom: 1rem;
    padding-left: 4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}



/* media queries */

@media (max-width: 850px) {
    .hamburger {
        display: block;
        margin-left: 1rem;
    }

    .landingheader {
        background-color: #FFF;
        width: 100%;
        height: 14vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    header {
        height: 14vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #nav-wrapper {
        display: none;
    }

    .logo {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2.5rem;
    }


    body {
        flex-direction: column;
    }

    .productgrid {
        padding-top: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        }
    
    .productcard{
         margin-right: 0rem;
        }

     h1 {
         padding-left: 1.8rem;
     }   

     #nav-wrapper.expand {
         display:flex;
         position: absolute;
         top: 14%;
         flex-direction: column;
         z-index: 10;
         padding-top: 0.5rem;
     }

     .searchbox {
         margin: 0.5rem;
     }

     .productcard.expand {
        width: 23rem;
        height: 18rem;
        flex-direction: row;
        transition: all 2000ms linear;
        margin: 1rem;
    }

    .productcard.expand > .card-text > .cart-button {
        padding: 0.5rem;
        bottom: 8rem;
        left: 10rem;
    }

    .productcard.expand > .product-close-icon {
        width: 1rem;
        height: 1rem;
    }

    .productcard.expand > .card-text {
        padding-left: 0;
        padding-top: 2rem;
    }

    .productcard.expand > .card-text > .cardbooktitle {
        padding: 0;
    }

    .productcard.expand > .card-text > .cardauthor {
        padding: 0;
    }

    .productcard.expand > .card-text > .cardprice {
        bottom: 9.5rem;
        left: 10rem;
    }
    
    .productcard.expand > .card-text > .product-discription {
        left: 10rem;
        padding-right: 0rem;
        bottom: 0rem;
    }

    .productcard.expand > .productimg {
        width: 36%;
        height: 68%;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }


    .cart {
        padding-top: 0rem;
    }

    .cartproductimg {
        width: 37%;
        height: 76%;
        margin-left: 1rem;
        margin-right: 1.5rem;
    }

    .cartcard {
        width: 22.5rem;
        height: 17rem;
        margin-left: 0rem;
        margin-right: 0rem;
        right: -0.9rem;
    }

    .cart-info {
        padding-top: 1rem;
    }

    .cart-cardbooktitle {
        padding-left: 0rem;
    }

    .cart-cardprice {
        padding-top: 2rem;
    }

    .cart-qty {
        margin: 0;
    }

    .qty-amount {
    margin-top: 0.5rem;
    }

    .close-icon {
        width: 1rem;
        height: 1rem;
        padding-right: 1rem;
    }

    .cart-totals {
        bottom: 5rem;
        right: 1.7rem;
    }

    .checkout-btn {
        right: 2rem;
        bottom: 1.5rem;
    }

    .back-btn {
        right: 13rem;
        bottom: 1.5rem;
    }



    .checkout-form {
        padding-top: 0rem;
    }


    h2 {
        padding-top: 0rem;
    }

    .delivery-details {
        left: 1.8rem;
        top: 11.5rem;
    }
    
    #name {
        width: 80%;
    }
    
    #address1 {
        width: 80%;
    }
    
    #address2 {
        width: 80%;
    }

    .delivery-details > input {
        width: 33%;
        margin-bottom: 0.7rem;
    }

    label.state {
        padding-left: 4.7rem;
    }

    label.postcode {
        padding-left: 7.1rem;
    }

    .progress-btn {
        right: 1.8rem;
        bottom: 1.5rem;
    }


    .shipping-type {
        padding-left: 1.8rem;
        padding-top: 0rem;
    }

    .payment-btn {
        right: 2rem;
        bottom: 1.5rem;
    }

    .back-btn2 {
        right: 13rem;
        bottom: 1.5rem;
    }

    .payment-form {
        left: 1.8rem;
        top: 11.5rem;
    }

    #card-name {
        width: 80%;
    }

    .payment-form > input {
        width: 33%;
        margin-bottom: 0.7rem;
    }

    label.ccv {
        padding-left: 7.8rem;
    }

    .back-btn3 {
        right: 2rem;
        bottom: 1.5rem;
        padding-left: 6.2rem;
        padding-right: 6.2rem;

    }

    .confirm-text {
        padding-left: 6rem;
    }

}