body{
    background-color: #FFF7EE;
    margin: 0px;
    display: flex;
    column-gap: 24px;
}

header {
    background-color: #FFF;
    width: 253px;
    height: 211px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    padding-top: 37px;
    padding-bottom: 54px;
}

.searchbox {
    background-color: #F5EADD;
    width: 234px;
    height: 46px;
    display: flex;
    flex-direction: row;
}

.searchinput {
    border-width: 0px;
    background-color: #F5EADD;
    width: 180px;
    height: 44px;
}

.searchinput:focus-visible {
    outline: solid 2px #CEBAA1;
}

.searchicon {
    width: 28px;
    height: 28px;
    padding: 9px;
}

.mainmenu {
    background-color: #FFF;
    width: 253px;
    height: 814px;
}

.mainmenu > ul{
    list-style-type: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 20pt;
    color: #D10000;
    padding-inline-start: 0;
}

.mainmenu > ul > li {
    text-align: right;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-right: 10%;
    width: 90%;

}

.mainmenu > ul > li:hover {
    background-color: #CEBAA1;
    color: #970000;
}


.productgrid {
    padding-top: 135px;
    display: flex;
    }

h1 {
     font-family: 'Josefin Sans';
     color: #970000;
 }

.productcard {
    width: 204px;
    height: 366px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.productimg {
    width: 73%;
    height: 57%;
    border-radius: 12px;
    margin-top: 10%;
}

.cardbooktitle{
    font-family: 'Josefin Sans';
    font-size: 18pt;
    font-weight: 600;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 3%;
    color: #970000;
}

.cardauthor {
    font-family: 'Josefin Sans';
    font-size: 16pt;
    font-weight: 400;
    margin-top: 0%;
    margin-bottom: 3%;
    color: #DD6363;
    text-align: center;
}

.cardprice {
    font-family: 'Josefin Sans';
    font-size: 16pt;
    font-weight: 400;
    margin-top: 3%;
    margin-bottom: 3%;
    color: #970000;
    text-align: center;
    align-content: center;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    left: 35%;
}

.productcard:hover {
    background: #FFF7EE;
    box-shadow: 0px 0px 5px rgba(55, 76, 10, 0.4);
    border-radius: 24px;
}
