.bookBtnLrg{
    width: 429px;
    height:66px;
    border: none;
}

.bookBtnSml{
    width: 319px;
    height: 50px;
    border: none;
}

#fictionBook {
    background-image: url(/Assignment3/images/menuFiction.svg);
}

#romanceBook {
    background-image: url(/Assignment3/images/menuRomance.svg);
}

#scifiBook {
    background-image: url(/Assignment3/images/menuSciFi.svg);
}

#horrorBook {
    background-image: url(/Assignment3/images/menuHorror.svg);
}

