body{
    background-color: #FFF7EE;
    margin: 0px;
    display: grid;
    grid-template-columns: 252px auto auto auto auto auto;
    column-gap: 24px;
}

header {
    background-color: #FFF;
    width: 253px;
    height: 211px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
}
.logo {
    padding-top: 37px;
    padding-bottom: 54px;
}

.searchbox {
    background-color: #F5EADD;
    width: 234px;
    height: 46px;
    display: flex;
    flex-direction: row;
}

.searchinput {
    border-width: 0px;
    background-color: #F5EADD;
    width: 180px;
    height: 44px;
}

.searchinput:focus-visible {
    outline: solid 2px #CEBAA1;
}

.searchicon {
    width: 28px;
    height: 28px;
    padding: 9px;
}

.mainmenu {
    background-color: #FFF;
    width: 253px;
    height: 814px;
}

.mainmenu > ul{
    list-style-type: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 20pt;
    color: #D10000;
}

.mainmenu > ul > li {
    text-align: right;
    padding-bottom: 35px;
    padding-right: 20px;
}
.productgrid {
    padding-top: 155px;
    }

h1 {
     font-family: 'Josefin Sans';
 }

.productcard {
    width: 204px;
    height: 366px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 2;
}

.productimg {
    width: 75%;
    height: 60%;
}
