.landingbody{
    background-color: #FFF7EE;
    margin: 0px;
}

.landingheader {
    background-color: #FFF;
    width: 16rem;
    height: 22vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    color: #970000;
}

.logo {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.searchbox {
    background-color: #F5EADD;
    width: 15rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
}

.searchinput {
    border-width: 0px;
    background-color: #F5EADD;
    width: 180px;
    height: 44px;
}

.searchinput:focus-visible {
    outline: solid 2px #CEBAA1;
}

.searchicon {
    width: 2rem;
    height: 2rem;
    align-self: center;
    padding-left: 5%;
}

.homemenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bookBtnLrg{
    width: 429px;
    height:66px;
    border: none;
}

.bookBtnSml{
    width: 319px;
    height: 50px;
    border: none;
}



#fictionBook {
    background-image: url(/images/menuFiction.svg);
}

#romanceBook {
    background-image: url(/images/menuRomance.svg);
    transform: translate(0.5rem, 0);
}

#scifiBook {
    background-image: url(/images/menuSciFi.svg);
    transform: translate(-1rem, 0);
}

#horrorBook {
    background-image: url(/images/menuHorror.svg);
    transform: translate(-0.5rem, 0);
}

#modernBook {
    background-image: url(/images/menuModern.svg);
    transform: translate(-1.5rem, 0);
}

#youngAdultBook {
    background-image: url(/images/menuYA.svg);
}

#nonFictionBook {
    background-image: url(/images/menuNonFiction.svg);
}

#scienceBook {
    background-image: url(/images/menuScience.svg);
    transform: translate(1rem, 0);
}

#homeBook {
    background-image: url(/images/menuHG.svg);
    transform: translate(-2rem, 0);
}

#historyBook {
    background-image: url(/images/menuHistory.svg);
    transform: translate(0.5rem, 0);
}

#bioBook {
    background-image: url(/images/menuBio.svg);
    transform: translate(-1rem, 0);
}

#artBook {
    background-image: url(/images/menuArt.svg);
}

.bookBtnSml:hover {
    margin-left: 2rem;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.bookBtnSml {
    transition: all 500ms ease-in-out;
    cursor: pointer;
}
.bookBtnLrg:hover {
    margin-left: 2rem;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.bookBtnLrg {
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.hamburger {
    background-image: url(/images/HamburgerIcon.svg);
    background-size: cover;
    display: none;
    height: 2rem;
    width: 2rem;
    min-width: 2rem;
    background-color: #FFF;
    border: none;
}

@media (max-width: 850px) {
    .hamburger {
        display: block;
        margin-left: 1rem;
    }

    .landingheader {
        background-color: #FFF;
        width: 100%;
        height: 14vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .searchbox {
        display: none;
    }

    .logo {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2.5rem;
    }



}
        