body{
    background-color: #FFF7EE;
    margin: 0px;
}

header {
    background-color: #FFF;
    width: 253px;
    height: 211px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    padding: 27px;
}

.searchbox {
    background-color: #F5EADD;
    width: 234px;
    height: 46px;
    display: flex;
    flex-direction: row;
}

.searchinput {
    border-width: 0px;
    background-color: #F5EADD;
    width: 180px;
    height: 44px;
}

.searchinput:focus-visible {
    outline: solid 2px #CEBAA1;
}

.searchicon {
    width: 28px;
    height: 28px;
    padding: 9px;
}

.homemenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bookBtnLrg{
    width: 429px;
    height:66px;
    border: none;
}

.bookBtnSml{
    width: 319px;
    height: 50px;
    border: none;
}

#fictionBook {
    background-image: url(/images/menuFiction.svg);
}

#romanceBook {
    background-image: url(/images/menuRomance.svg);
}

#scifiBook {
    background-image: url(/images/menuSciFi.svg);
}

#horrorBook {
    background-image: url(/images/menuHorror.svg);
}

#modernBook {
    background-image: url(/images/menuModern.svg);
}

#youngAdultBook {
    background-image: url(/images/menuYA.svg);
}

#nonFictionBook {
    background-image: url(/images/menuNonFiction.svg);
}

#scienceBook {
    background-image: url(/images/menuScience.svg);
}

#homeBook {
    background-image: url(/images/menuHG.svg);
}

#historyBook {
    background-image: url(/images/menuHistory.svg);
}

#bioBook {
    background-image: url(/images/menuBio.svg);
}

#artBook {
    background-image: url(/images/menuArt.svg);
}

        